<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <title>Apply for Placement</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">Apply for the Placement-Project</h2>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="name" >Full name</div>
                            <div class="value">
                                <input class="input--style-6" id="name" type="text" name="full_name" required>
                            </div>
                        </div>
                        <div class="form-row">
                                <div class="name">Roll no</div>
                                <div class="value">
                                    <input class="input--style-6" id="rollno" type="tel" name="rollno" required>
                                </div>
                            </div>
                        <div class="form-row">
                            <div class="name">Email address</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="email" id="email" name="email" placeholder="example@email.com" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                                <div class="name">CGPA</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-6" type="text" id="cgpa" name="cgpa" required>
                                    </div>
                                </div>
                            </div>
                        <div class="form-row">
                                <div class="name">Password</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-6" type="password" id="password" name="password" required>
                                    </div>
                                </div>
                            </div>
                        <div class="form-row">
                            <div class="name">Branch</div>
                            <div class="value">
                                <div class="input-group">
                                    <select id="branch" name="branch" required>
                                        <option id="branch0" disabled selected>Select your branch</option>
                                        <option id="branch1">Computers</option>
                                        <option id="branch2">Information Technology</option>
                                        <option id="branch3">Electronics</option>
                                        <option id="branch4">Production</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Upload CV</div>
                            <div class="value">
                                <div class="input-group js-input-file">
                                    <input class="input-file" type="file" name="file_cv" id="file" required>
                                    <label class="label--file" for="file">Choose file</label>
                                    <span class="input-file__info">No file chosen</span>
                                </div>
                                <div class="label--desc">Upload your CV/Resume or any other relevant file in only .docx format. Max file size 50 MB</div>
                            </div>
                        </div>
                    </form>
                    <div class="form-row">
                        <button class="btn btn--radius-2 btn--blue-2" onclick="register()" type="submit">Register</button>
                        <div class="value">
                            <div class="input-group js-input-file">
                                <p style="margin-left:70px;margin-top:15px;">If you are a teacher  <a style="color:#185ac1;text-decoration:none" href="/teacher">Click here</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->
     <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-storage.js"></script>
     <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-firestore.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBH8mbH_sptsBIzv6cXnf6g9ypZI37Ju-A",
    authDomain: "training-and-placement-1110.firebaseapp.com",
    databaseURL: "https://training-and-placement-1110.firebaseio.com",
    projectId: "training-and-placement-1110",
    storageBucket: "training-and-placement-1110.appspot.com",
    messagingSenderId: "484256523765",
    appId: "1:484256523765:web:aabbdfe0e77d4138"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  var storage = firebase.storage();
  var fileButton = document.getElementById('file')
  fileButton.addEventListener('change', function(e){
    var files = e.target.files[0]
    var rollno = document.getElementById('rollno').value
    var storageRef = firebase.storage().ref('Resumes/' +rollno+'.docx')
    var task = storageRef.put(files)

    task.on('state_changed',
        function error(err){
            console.log(err)
        },
        function complete(){
            console.log('Uploaded')
        }
    )
  })
</script>
<script src="/js/register.js"></script>
</body>
</html>