<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <title>Apply for Placement</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">Apply for the Placement-Project</h2>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <input class="input--style-6" id="email" type="email" name="email" required>
                            </div>
                        </div>
                        <div class="form-row">
                                <div class="name">Password</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-6" type="password" id="password" name="password" required>
                                    </div>
                                </div>
                            </div>
                    </form>
                    <div class="form-row">
                        <button id="submit" class="btn btn--radius-2 btn--blue-2">Log In</button> 
                        <div class="value">
                                <div class="input-group js-input-file">
                                    <p style="margin-left:70px;margin-top:15px;">Forgot password? <a id="forgot" onclick="promptFunct()" style="color:#185ac1;text-decoration:none">Click here</a></p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-auth.js"></script>
    <script src="/js/student-login.js"></script>
</body>
</html>